.table {
	width: 100%;
	thead {
		@media (max-width: @screen-xs-max) {
			display: none;
		}
		th {
			color: #B5B7B9;
			font-weight: 600;
			font-size: 16px;
			line-height: 28px;
			padding: 12px 8px 16px;
			text-align: left;
		}
	}
	tbody {
		td {
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			line-height: 21px;
			padding: 0 8px 8px;
			vertical-align: top;
		}
	}
	&-mobile-label {
		display: none;
	}
	@media (max-width: @screen-xs-max) {
		&-cell-checkbox {
			display: none;
		}
		&-row {
			display: flex;
			flex-direction: column;
			background: #232932;
			border-radius: 8px;
			padding: 12px 16px;
			margin-bottom: 16px;
		}
		&-mobile-label {
			display: block;
			color: #B5B7B9;
			font-size: 12px;
			line-height: 18px;
		}
		tbody td {
			font-weight: 400;
			padding: 0 0 4px;
		}
	}
	&-tag-item {
		background: #3A3F47;
		border-radius: 5px;
		font-size: 14px;
		line-height: 21px;
		padding: 2px 8px;
		display: inline-block;
	} 
}

.payment-table-wrap .table tbody td {
	padding-bottom: 12px;
}